.about_page,
.contact_page,
.home_page,
.blog_detail_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_container {
  display: flex;
  flex-grow: 1;
}

/*About Page Start*/
.about_page_main_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about_image {
  width: 40%;
  border-radius: 12px;
  margin-top: 12px;
}

.about_page_text_container {
  width: 40%;
  line-height: 1.5;
}

.about_link {
  font-weight: 600;
  color: black;
}

/*About Page End*/
