.about_page,
.contact_page,
.home_page,
.blog_detail_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_container {
  display: flex;
  flex-grow: 1;
}

/*About Page Start*/
.about_page_main_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e9ed;
}

.about_image {
  width: 37%;
  border-radius: 12px;
  margin-top: 12px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.about_page_text_container {
  width: 40%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_page_text_container > h3 {
  font-size: 32px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.about_page_text_container > p {
  font-size: 18px;
}

.about_link {
  font-weight: 600;
  color: black;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.about_link:hover {
  color: #ff8811;
}

.icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.icon {
  margin-top: 6px;
  color: #fff8f0;
}

.icon:hover {
  color: #ff8811;
  transition: 0.5s;
}

/*About Page End*/

/*Contact Page Start*/
.contact_main_container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e9ed;
  width: 100%;
}

.contact_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff8f0;
  box-shadow: -5px 10px 0px 2px rgba(209, 211, 219, 0.75);
  -webkit-box-shadow: -5px 10px 0px 2px rgba(209, 211, 219, 0.75);
  -moz-box-shadow: -5px 10px 0px 2px rgba(209, 211, 219, 0.75);
}
.contact_option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.contact_last_option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact_card_text {
  font-size: 18px;
}

.contact_icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.contact_icon {
  margin-top: 6px;
  color: #e8e9ed;
  margin-left: 12px;
  cursor: pointer;
}

.contact_icon:hover {
  color: #ff8811;
  transition: 0.5s;
}

.contact_mail {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact_mail_title {
  font-size: 32px;
}

.contact_mail_text {
  font-size: 24px;
  margin-bottom: 12px;
}

.contact_mail > input {
  width: 50%;
  height: 32px;
  border: none;
  border-radius: 12px;
  margin: 6px 0;
  padding: 12px;
  font-size: 16px;
}

.contact_mail > textarea {
  resize: none;
  line-height: 1.5;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin: 6px 0;
}

.contact_mail_btn {
  font-size: 16px;
  padding: 12px;
  margin-top: 16px;
  border: none;
  background-color: #fff8f0;
  cursor: pointer;
  border-bottom: 5px solid #d6d8df;
  border-left: 5px solid #d6d8df;
}

.contact_mail_btn:hover {
  box-shadow: none;
  transition: 0.5s;
  border: none;
}

.contact_mail_btn_container {
  height: 64px;
}
/*Contact Page End*/
