.about_page,
.contact_page,
.home_page,
.blog_detail_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*About Page Start*/
.about_page_main_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e9ed;
  margin-top: 68px;
}

.about_image {
  width: 37%;
  border-radius: 12px;
  margin-top: 12px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.about_page_text_container {
  width: 40%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_page_text_container > h3 {
  font-size: 32px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.about_page_text_container > p {
  font-size: 18px;
}

.about_link {
  font-weight: 600;
  color: black;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.about_link:hover {
  color: #ff8811;
}

.icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.icon {
  margin-top: 6px;
  color: #fff8f0;
}

.icon:hover {
  color: #ff8811;
  transition: 0.5s;
}

/*About Page End*/

/*Contact Page Start*/
.contact_main_container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e9ed;
  width: 100%;
  margin-top: 64px;
}

.contact_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff8f0;
  box-shadow: -5px 10px 0px 2px rgba(209, 211, 219, 0.75);
  -webkit-box-shadow: -5px 10px 0px 2px rgba(209, 211, 219, 0.75);
  -moz-box-shadow: -5px 10px 0px 2px rgba(209, 211, 219, 0.75);
}
.contact_option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.contact_last_option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact_card_text {
  font-size: 18px;
}

.contact_icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.contact_icon {
  margin-top: 6px;
  color: #e8e9ed;
  margin-left: 12px;
  cursor: pointer;
}

.contact_icon:hover {
  color: #ff8811;
  transition: 0.5s;
}

.contact_mail {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact_mail_title {
  font-size: 32px;
}

.contact_mail_text {
  font-size: 24px;
  margin-bottom: 12px;
}

.contact_mail > input {
  width: 50%;
  height: 32px;
  border: none;
  border-radius: 12px;
  margin: 6px 0;
  padding: 12px;
  font-size: 16px;
}

.contact_mail > textarea {
  resize: none;
  line-height: 1.5;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin: 6px 0;
}

.contact_mail_btn {
  font-size: 16px;
  padding: 12px;
  margin-top: 16px;
  border: none;
  background-color: #fff8f0;
  cursor: pointer;
  border-bottom: 5px solid #d6d8df;
  border-left: 5px solid #d6d8df;
  font-weight: 600;
}

.contact_mail_btn:hover {
  box-shadow: none;
  transition: 0.5s;
  border: none;
  color: #ff8811;
}

.contact_mail_btn_container {
  height: 64px;
}
/*Contact Page End*/

/*Blog Page Start*/
.blog_main_container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three columns */
  grid-gap: 16px 42px;
  background-color: #e8e9ed;
  padding: 42px 64px;
}

.blog_card {
  width: 100%;
  height: 100%;
}

.blog_img {
  width: 100%;
  height: 70%;
  border-radius: 12px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.blog_tags {
  width: fit-content;
  padding: 6px;
  border-radius: 12px;
  background-color: #fff8f0;
  margin-top: 6px;
}

.blog_time_data_container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 6px;
  font-weight: 300;
  align-items: center;
}

.blog_text_container {
  display: flex;
  flex-direction: row;
}

.blog_text_link {
  align-self: self-end;
  color: black;
}

.blog_text_link:hover {
  color: #ff8811;
}
/*Blog Page End*/

/*Blog Detail Page Start*/
.blog_detail_page_main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* align items to the start of the container */
  background-color: #e8e9ed;
  margin-top: 64px;
  padding: 20px; /* Add padding for spacing */
}

.blog_detail_container {
  width: 50%;
  padding-right: 20px; /* Spacing between article and sidebar */
}

.blog_detail_image {
  margin-top: 32px;
  width: 100%;
  border-radius: 16px;
}

.blog_detail_text_container {
  width: 100%;
  line-height: 1.5;
}

.blog_detail_info_container {
  display: flex;
  align-items: center;
  font-weight: 100;
  margin-top: 8px;
}

.blog_detail_sidebar_container {
  border: 1px solid black;
  padding: 20px;
  height: auto;
  position: sticky;
  top: 116px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.blog_detail_sidebar_container a {
  display: block;
  margin-bottom: 10px;
}
/*Blog Detail Page End*/
